/* COLORS */
$nav-bg: #f9f1e7;
$radio-bg: #d8d8d8;
$slider-arrow-bg: #f5d9c4;
$button-color: #E89F71;
$header-text-color: #3a3a3a;
$header-p-color: #898989;
$product-bg: #F4F5F7;
$discount-color: #E97171;
$new-color: #2EC1AC;
$beautiful-bg: #FCF8F3;
$radio-bg: #E89F71;

/* FONTS */
$font-bold: "Gilroy-Bold";
$font-light: "Gilroy-Light";
