<footer class="container footer">

	<!-- Contact Column -->
	<div class="footer__column">

		<div class="footer__title">Funiro.</div>
		<p class="footer__paragraph">Worldwide furniture store since <br> 2020. We sell over 1000+ branded <br> products on
			our website
		</p>

		<div class="footer__location">
			<span class="footer__location-icon">
				<img src="assets/svg/location.svg" alt="Location Icon">
			</span>
			<span class="footer__location-text">
				<a href="https://goo.gl/maps/QHxiadBqRFefTeGdA" target="_blank">Sawojajar
					Malang, Indonesia</a>
			</span>
		</div>

		<div class="footer__phone">
			<span class="footer__phone-icon">
				<img src="assets/svg/phone.svg" alt="Phone Icon">
			</span>
			<span class="footer__phone-text">
				<a href="tel:+6289 456 3455">+6289 456 3455</a>
			</span>
		</div>

		<div class="footer__website">
			<a href="/">www.funiro.com</a>
		</div>
	</div>

	<!-- Menu column -->
	<div class="footer__column">
		<div class="footer__title">Menu</div>
		<ul class="footer__list">
			<li class="footer__list-item"><a href="#">Products</a></li>
			<li class="footer__list-item"><a href="#">Rooms</a></li>
			<li class="footer__list-item"><a href="#">Inspirations</a></li>
			<li class="footer__list-item"><a href="#">About Us</a></li>
			<li class="footer__list-item"><a href="#">Terms & Policy</a></li>
		</ul>
	</div>

	<!-- Account Column -->
	<div class="footer__column">
		<div class="footer__title">Account</div>
		<ul class="footer__list">
			<li class="footer__list-item"><a href="#">My Account</a></li>
			<li class="footer__list-item"><a href="#">Checkout</a></li>
			<li class="footer__list-item"><a href="#">My Cart</a></li>
			<li class="footer__list-item"><a href="#">My Catalog</a></li>
		</ul>
	</div>

	<!-- Stay Connected Column -->
	<div class="footer__column">
		<div class="footer__title">Stay Connected</div>
		<ul class="footer__list">
			<li class="footer__list-item"><a href="#">Facebook</a></li>
			<li class="footer__list-item"><a href="#">Instagram</a></li>
			<li class="footer__list-item"><a href="#">Twitter</a></li>
		</ul>
	</div>

	<!-- Stay Updated Column -->
	<div class="footer__column">
		<div class="footer__title">Stay Updated</div>
		<form class="footer__form">
			<input class="footer__email" type="email" name="email" placeholder="Enter your email">
			<button class="footer__send" type=" submit">
				<img src="/assets/svg/send.svg" alt="Send">
			</button>
		</form>
		</ul>
	</div>

</footer>
