<header class="header">
	<div class="header__container">
		<div class="header__nav">
			<div class="header__logo">
				<a href="#">Funiro.</a>
			</div>
			<div class="header__links-wrapper">
				<a href="#" class="header__link">Products &nbsp;˅ </a>
				<a href="#" class="header__link">Rooms &nbsp;˅</a>
				<a href="#" class="header__link">Inspirations</a>
			</div>
			<div class="header__search-box">
				<img src="../development/assets/svg/header-svg/search.svg">
				<input type="text" placeholder="Search for minimalist chair">
			</div>
			<div class="header__icons-box">
				<a href="" class="header__icon">
					<img src="../development/assets/svg/header-svg/heart.svg">
				</a>
				<a href="" class="header__icon">
					<img src="../development/assets/svg/header-svg/Cart.svg">
				</a>
				<a href="" class="header__icon">
					<img src="../development/assets/svg/header-svg/user-img.svg">
				</a>
			</div>
			<div class="header__burger-menu">
				<img src="../development/assets/svg/header-svg/001-menu.svg">
			</div>
		</div>
	</div>
	<div class="header__slider-controller header__container">
		<label class="radio-lable">&nbsp;
  			<input type="radio" value="" checked="checked" name="radio">
  			<span class="checkmark"></span>
		</label>

		<label class="radio-lable">&nbsp;
			<input type="radio" name="radio">
			<span class="checkmark"></span>
		</label>

		<label class="radio-lable">&nbsp;
			<input type="radio" name="radio">
			<span class="checkmark"></span>
		</label>

		<label class="radio-lable">&nbsp;
			<input type="radio" name="radio">
			<span class="checkmark"></span>
		</label>

		<div class="arrow">
			<span> > </span>
			<span> > </span>
		</div>
	</div>
	</div>
	<div class="header__content-wrapper">
		<div class="header__container  header__content ">
			<div class="header__content-left">
				<h1>High-Quality Furniture Just For You</h1>
				<p>Our furniture is made from selected and best quality materials that are suitable for your dream home</p>
				<button>Shop Now</button>
			</div>


			<div class="header__content-right">
				<h4>Bohauss</h4>
				<p>Luxury big sofa 2-seat</p>
				<span class="price">
					<span>RP 17.000.000</span>
					<span>➔</span>
				</span>
			</div>
		</div>
	</div>
</header>
