<section class="container room">
	<div class="room__text">
		<h1> 50+ Beautiful rooms</br> inspiration</h1>
		<p> Our designer already made a lot of beautiful</br> prototipe of rooms that inspire you</p>
		<button class="room__button" type="button"> Explore More </button>
	</div>
	<div class="room__imgone">
		<div class="room__imgo">
			<div>01 ― Bed Room</div>
			<h4>Inner Peace</h4>
		</div>
		<button class="room__btn" type=" submit">
			<svg width="20" height="14" viewBox="0 0 20 14" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path d="M19 7H1M19 7L13 1M19 7L13 13" stroke="white" stroke-width="1.5" stroke-linecap="round"
					stroke-linejoin="round" />
			</svg>
		</button>
	</div>
	<div class="room__imgtwo">
		<img class="room__imgt" src="/assets/images/room-img/room_two.webp" width="372" height="486" />
		<div class="rdt">
			<label class="radio-label">&nbsp;
				<input type="radio" name="radio">
				<span class="checkmark"></span>
			</label>
			<label class="radio-label">&nbsp;
				<input type="radio" name="radio">
				<span class="checkmark"></span>
			</label>
			<label class="radio-label">&nbsp;
				<input type="radio" name="radio">
				<span class="checkmark"></span>
			</label>
			<label class="radio-label">&nbsp;
				<input type="radio" name="radio">
				<span class="checkmark"></span>
			</label>
		</div>
	</div>
</section>
