<section class="feature container">
	<div class="feature__item">
		<figure>
			<img src="/assets/images/feature-img/feature1.svg" alt="feature-icon" class="feature__icon-side">
		</figure>
		<div class="feature__content">
			<h4 class="feature__title">High Quality</h4>
			<p class="feature__text">crafted from top materials</p>
		</div>
	</div>
	<div class="feature__item">
		<figure>
			<img src="/assets/images/feature-img/feature2.svg" alt="feature-icon" class="feature__icon-center">
		</figure>
		<div class="feature__content">
			<h4 class="feature__title">Warrany Protection</h4>
			<p class="feature__text">Over 2 years</p>
		</div>
	</div>
	<div class="feature__item">
		<figure>
			<img src="/assets/images/feature-img/feature3.svg" alt="feature-icon" class="feature__icon-center">
		</figure>
		<div class="feature__content">
			<h4 class="feature__title">Free Shipping</h4>
			<p class="feature__text">Order over 150$</p>
		</div>
	</div>
	<div class="feature__item">
		<figure>
			<img src="/assets/images/feature-img/feature4.svg" alt="feature-icon" class="feature__icon-side">
		</figure>
		<div class="feature__content">
			<h4 class="feature__title">24 / 7 Support</h4>
			<p class="feature__text">Dedicated Support</p>
		</div>
	</div>
</section>
