<section class="furniture">
	<div class="furniture__headline">
		<h3>Share your setup with</h3>
		<h1 class="furniture__title">#FuniroFurniture</h1>
	</div>

	<div class="furniture__gallery">
		<div class="furniture__column">
			<div class="furniture__top">
				<img class="furniture__img hide" src="/assets/images/furniture-img/left-1.webp" alt="furniture" width="204"
					height="382">
				<img class="furniture__img" src="/assets/images/furniture-img/left-2.webp" alt="furniture" width="451"
					height="312">
			</div>
			<div class="furniture__bottom">
				<img class="furniture__img" src="/assets/images/furniture-img/left-3.webp" alt="furniture" width="311"
					height="323">
				<img class="furniture__img" src="/assets/images/furniture-img/left-4.webp" alt="furniture" width="344"
					height="242">
			</div>
		</div>
		<div class="furniture__column hide">
			<img class="furniture__img" src="/assets/images/furniture-img/center.webp" alt="furniture" width="295"
				height="392">
		</div>
		<div class="furniture__column">
			<div class="furniture__top">
				<img class="furniture__img" src="/assets/images/furniture-img/right-1.webp" alt="furniture" width="290"
					height="348">
				<img class="furniture__img hide" src="/assets/images/furniture-img/right-2.webp" alt="furniture" width="136"
					height="433">
			</div>
			<div class="furniture__bottom hide">
				<img class="furniture__img" src="/assets/images/furniture-img/right-3.webp" alt="furniture" width="178"
					height="242">
				<img class="furniture__img" src="/assets/images/furniture-img/right-4.webp" alt="furniture" width="248"
					height="196">
			</div>
		</div>
	</div>
</section>
