{% include '../../shared/header.njk' %}

{% include './feature.njk' %}

{% include './products.njk' %}

{% include './beautiful.njk' %}

{% include './tips.njk' %}

{% include './furniture.njk' %}

{% include '../../shared/footer.njk' %}
