<section class="product container">
	<h2 class="product__title">Our Products</h2>
	<div class="product__content">
		<div class="product__card">
			<div class="product__hover-box">
				<div class="product__share-card">
					<button class="product__add-btn">Add to cart</button>
					<div class="product__share-box">
						<a href="#" class="product__share-link">
							<img src="/assets/images/product-img/share.svg" alt="share-icon" class="product__share-icon"><span
								class="product__share-text">Share</span>
						</a>
						<a href="#" class="product__share-link">
							<img src="/assets/images/product-img/like.svg" alt="like-icon" class="produc__share-icon"><span
								class="product__share-text">Like</span>
						</a>
					</div>
				</div>
			</div>
			<div class="product__discount-box">
				<p class="product__discount product__discount--active">-30%</p>
			</div>
			<div class="product__image">
				<img src="/assets/images/product-img/product1.webp" alt="Stylish cafe chair Syltherine" class="product__image">
			</div>
			<aside class="product__description">
				<div class="product__name">
					<h2 class="product__cart-title">Syltherine</h2>
					<p class="product__summary">Stylish cafe chair</p>
					<div class="product__price-box">
						<p class="product__price product__price--discount">Rp 2.500.000</p>
						<strike class="product__price product__price--nodiscount">Rp 3.500.000</strike>
					</div>
				</div>
			</aside>
		</div>
		<div class="product__card">
			<div class="product__hover-box">
				<div class="product__share-card">
					<button class="product__add-btn">Add to cart</button>
					<div class="product__share-box">
						<a href="#/" class="product__share-link">
							<img src="assets/images/product-img/share.svg" alt="share-icon" class="product__share-icon"><span
								class="product__share-text">Share</span>
						</a>
						<a href="#/" class="product__share-link">
							<img src="assets/images/product-img/like.svg" alt="like-icon" class="produc__share-icon"><span
								class="product__share-text">Like</span>
						</a>
					</div>
				</div>
			</div>
			<div class="product__discount-box">
				<p class="product__discount product__discount--active">-30%</p>
			</div>
			<div class="product__image">
				<img src="/assets/images/product-img/product2.webp" alt="Stylish cafe chair Leviosa" class="product__image">
			</div>
			<aside class="product__description">
				<div class="product__name">
					<h2 class="product__cart-title">Leviosa</h2>
					<p class="product__summary">Stylish cafe chair</p>
					<div class="product__price-box">
						<p class="product__price product__price--discount">Rp 2.500.000</p>
						<strike class="product__price product__price--nodiscount">Rp 3.500.000</strike>
					</div>
				</div>
			</aside>
		</div>
		<div class="product__card">
			<div class="product__hover-box">
				<div class="product__share-card">
					<button class="product__add-btn">Add to cart</button>
					<div class="product__share-box">
						<a href="#/" class="product__share-link">
							<img src="assets/images/product-img/share.svg" alt="share-icon" class="product__share-icon"><span
								class="product__share-text">Share</span>
						</a>
						<a href="#/" class="product__share-link">
							<img src="assets/images/product-img/like.svg" alt="like-icon" class="produc__share-icon"><span
								class="product__share-text">Like</span>
						</a>
					</div>
				</div>
			</div>
			<div class="product__discount-box">
				<p class="product__discount product__discount--active">-50%</p>
			</div>
			<div class="product__image">
				<img src="/assets/images/product-img/product3.webp" alt="Luxury big sofa Lolito" class="product__image">
			</div>
			<aside class="product__description">
				<div class="product__name">
					<h2 class="product__cart-title">Lolito</h2>
					<p class="product__summary">Luxury big sofa</p>
					<div class="product__price-box">
						<p class="product__price product__price--discount">Rp 7.000.000</p>
						<strike class="product__price product__price--nodiscount">Rp 14.000.000</strike>
					</div>
				</div>
			</aside>
		</div>
		<div class="product__card">
			<div class="product__hover-box">
				<div class="product__share-card">
					<button class="product__add-btn">Add to cart</button>
					<div class="product__share-box">
						<a href="#/" class="product__share-link">
							<img src="assets/images/product-img/share.svg" alt="share-icon" class="product__share-icon"><span
								class="product__share-text">Share</span>
						</a>
						<a href="#/" class="product__share-link">
							<img src="assets/images/product-img/like.svg" alt="like-icon" class="produc__share-icon"><span
								class="product__share-text">Like</span>
						</a>
					</div>
				</div>
			</div>
			<div class="product__discount-box">
				<p class="product__discount product__discount--new">New</p>
			</div>
			<div class="product__image">
				<img src="/assets/images/product-img/product4.webp" alt="Minimalist fan Respira" class="product__image">
			</div>
			<aside class="product__description">
				<div class="product__name">
					<h2 class="product__cart-title">Respira</h2>
					<p class="product__summary">Minimalist fan</p>
					<div class="product__price-box">
						<p class="product__price product__price--discount">Rp 500.000</p>
						<strike class="product__price product__price--nodiscount">Rp 14.000.000</strike>
					</div>
				</div>
			</aside>
		</div>
		<div class="product__card">
			<div class="product__hover-box">
				<div class="product__share-card">
					<button class="product__add-btn">Add to cart</button>
					<div class="product__share-box">
						<a href="#/" class="product__share-link">
							<img src="assets/images/product-img/share.svg" alt="share-icon" class="product__share-icon"><span
								class="product__share-text">Share</span>
						</a>
						<a href="#/" class="product__share-link">
							<img src="assets/images/product-img/like.svg" alt="like-icon" class="produc__share-icon"><span
								class="product__share-text">Like</span>
						</a>
					</div>
				</div>
			</div>
			<div class="product__discount-box">
				<p class="product__discount product__discount--active">-30%</p>
			</div>
			<div class="product__image">
				<img src="/assets/images/product-img/product5.webp" alt="Night lamp Grifo" class="product__image">
			</div>
			<aside class="product__description">
				<div class="product__name">
					<h2 class="product__cart-title">Grifo</h2>
					<p class="product__summary">Night lamp</p>
					<div class="product__price-box">
						<p class="product__price product__price--discount">Rp 1.500.000</p>
						<strike class="product__price product__price--nodiscount">Rp 3.500.000</strike>
					</div>
				</div>
			</aside>
		</div>
		<div class="product__card">
			<div class="product__hover-box">
				<div class="product__share-card">
					<button class="product__add-btn">Add to cart</button>
					<div class="product__share-box">
						<a href="#/" class="product__share-link">
							<img src="assets/images/product-img/share.svg" alt="share-icon" class="product__share-icon"><span
								class="product__share-text">Share</span>
						</a>
						<a href="#/" class="product__share-link">
							<img src="assets/images/product-img/like.svg" alt="like-icon" class="produc__share-icon"><span
								class="product__share-text">Like</span>
						</a>
					</div>
				</div>
			</div>
			<div class="product__discount-box">
				<p class="product__discount product__discount--new">New</p>
			</div>
			<div class="product__image">
				<img src="/assets/images/product-img/product6.webp" alt="Small mug Muggo" class="product__image">
			</div>
			<aside class="product__description">
				<div class="product__name">
					<h2 class="product__cart-title">Muggo</h2>
					<p class="product__summary">Small mug</p>
					<div class="product__price-box">
						<p class="product__price product__price--discount">Rp 150.000</p>
						<strike class="product__price product__price--nodiscount">Rp 3.500.000</strike>
					</div>
				</div>
			</aside>
		</div>
		<div class="product__card">
			<div class="product__hover-box">
				<div class="product__share-card">
					<button class="product__add-btn">Add to cart</button>
					<div class="product__share-box">
						<a href="#/" class="product__share-link">
							<img src="assets/images/product-img/share.svg" alt="share-icon" class="product__share-icon"><span
								class="product__share-text">Share</span>
						</a>
						<a href="#/" class="product__share-link">
							<img src="assets/images/product-img/like.svg" alt="like-icon" class="produc__share-icon"><span
								class="product__share-text">Like</span>
						</a>
					</div>
				</div>
			</div>
			<div class="product__discount-box">
				<p class="product__discount product__discount--active">-50%</p>
			</div>
			<div class="product__image">
				<img src="/assets/images/product-img/product7.webp" alt="Cute bed set Pingky" class="product__image">
			</div>
			<aside class="product__description">
				<div class="product__name">
					<h2 class="product__cart-title">Pingky</h2>
					<p class="product__summary">Cute bed set</p>
					<div class="product__price-box">
						<p class="product__price product__price--discount">Rp 7.000.000</p>
						<strike class="product__price product__price--nodiscount">Rp 14.000.000</strike>
					</div>
				</div>
			</aside>
		</div>
		<div class="product__card">
			<div class="product__hover-box">
				<div class="product__share-card">
					<button class="product__add-btn">Add to cart</button>
					<div class="product__share-box">
						<a href="#/" class="product__share-link">
							<img src="assets/images/product-img/share.svg" alt="share-icon" class="product__share-icon"><span
								class="product__share-text">Share</span>
						</a>
						<a href="#/" class="product__share-link">
							<img src="assets/images/product-img/like.svg" alt="like-icon" class="produc__share-icon"><span
								class="product__share-text">Like</span>
						</a>
					</div>
				</div>
			</div>
			<div class="product__discount-box">
				<p class="product__discount product__discount--new">New</p>
			</div>
			<div class="product__image">
				<img src="/assets/images/product-img/product8.webp" alt="Minimalist flower pot Potty" class="product__image">
			</div>
			<aside class="product__description">
				<div class="product__name">
					<h2 class="product__cart-title">Potty</h2>
					<p class="product__summary">Minimalist flower pot</p>
					<div class="product__price-box">
						<p class="product__price product__price--discount">Rp 500.000</p>
						<strike class="product__price product__price--nodiscount">Rp 14.000.000</strike>
					</div>
				</div>
			</aside>
		</div>
	</div>
	<div class="product-more">
		<a href="#" class="product-more__btn">Show more</a>
	</div>
</section>
