<section class="tips">
	<div class="tips__container">
		<h2 class="tips__title"> Tips & Tricks </h2>
		<div class="tips__box-holder">
			<div class="tips__box">
				<div class="tips__img"><img src="../development/assets/images/tips-img/tips-img-1.jpg" alt="tips and tricks">
				</div>
				<h5>How to create a living room to love </h5>
				<time> 20 Jan 2020 </time>
			</div>
			<div class="tips__box">
				<div class="tips__img"><img src="../development/assets/images/tips-img/tips-img-2.jpg" alt="tips and tricks">
				</div>
				<h5>How to create a living room to love </h5>
				<time> 20 Jan 2020 </time>
			</div>
			<div class="tips__box">
				<div class="tips__img"><img src="../development/assets/images/tips-img/tips-img-3.jpg" alt="tips and tricks">
				</div>
				<h5>How to create a living room to love </h5>
				<time> 20 Jan 2020 </time>
			</div>
		</div>
	</div>
</section>
