.feature {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	flex-wrap: wrap;

	&__item {
		width: 310px;
		height: 80px;
		display: flex;
		flex-direction: row;
		justify-content: left;
		align-items: center;
	}

	flex-direction: row;

	&__content {
		display: flex;
		flex-direction: column;
		flex-wrap: nowrap;
		line-height: 26px;
	}

	&__title {
		margin: 0;
		font-size: 18px;
		color: #3A3A3A;
	}

	&__text {
		margin: 0;
		font-size: 16px;
		color: #898989;
		$font-light: "Gilroy-Light"
	}

	&__icon-box {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
		width: 85px;
		height: 85px;
	}

	&__icon-side,
	&__icon-center {
		width: 35px;
		height: 40px;
	}
	
	&__icon-center {
		width: 40px;
		height: 38px;
	}
}

@include mq(tablet) {
	.feature {
		flex-direction: row;
	}
}

@include mq(mobile) {
	.feature {
		flex-direction: row;
	}
}
